body{
    /*
    1. linea: cargamos la imagen
    2. linea: le decimos a la foto que si bajamos la pg no se acabe, siempre se muestre
    */
    background: url("../img/rosa.png"); 
    background-attachment: fixed;
}

#logo{
    background: hotpink;
    color: azure;
}

#menu ul li:hover{
    background: hotpink;
}

.button-more{
    color: white;
    background: hotpink;
}
