
<div id="tittle">
    <h1>{{tittle}}</h1>
  
    <h3>{{subtittle}}</h3>
    <p>{{email}}</p>
</div>

<article class="about">
    <h3>Sobre mí:</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ipsum magna, congue id erat quis, congue iaculis mauris. Integer at mauris ullamcorper, faucibus felis eu, suscipit libero. Cras elementum lacus volutpat urna tincidunt, sodales suscipit ante condimentum. Vivamus vitae ligula sagittis, condimentum lorem eget, aliquet magna. Duis convallis felis porta velit dapibus consequat. Cras accumsan eu nunc eget ultricies. Duis auctor tempus scelerisque. Donec in gravida enim, vel pulvinar velit. Ut in lacinia ex, non congue urna. Donec molestie tincidunt interdum. Duis luctus ipsum a erat pretium posuere. Donec rutrum, leo in tempus tempor, diam turpis maximus erat, in venenatis diam dui eu erat.</p>
</article>