<h3>{{titulo}}</h3>

<p>Añadir Marcas:</p>
<input type="text" [(ngModel)]="miMarca" (keyup.enter)="addMarca()"/>
<button (click)="getMarca()">Mostrar</button>
<button (click)="addMarca()">Añadir</button>
<br>
<p>{{miMarca}}</p>

<p>Marcas Disponibles:</p>
<ul>
    <li *ngFor="let i of marcas; let indice = index">{{i}}
        <button (click)="borrar(indice)">Eliminar</button>
    </li>
   
</ul>
<ul>
    <li *ngFor="let i of vestidos">
        <span [ngStyle]="{
            'text-decoration': i.stock == false ? 'line-through' : 'none'
        }">
        {{i.marca}} - 
        <strong [ngClass]="{
            'altoPrecio': i.precio >= 100,
            'subrayado': i.marca == 'Guess'
        }">{{i.precio}} €</strong> - 
        {{i.diseno}} - 
        {{i.stock}} - 
        {{i.color}} 
        </span>
        <span *ngIf="i.precio < 50" 
                [ngStyle]="{
                'color': 'green',
                'font-size': '20px'
                }">- Oferta!!
            </span>
        <span *ngIf="i.stock == false" [ngStyle]="{
            'color': 'red',
            'font-size': '18px'
        }">...No Disponibles!!
            </span>
       
        
    </li>
    
</ul>


<input type="text" [(ngModel)]="color" />

<p>El color de esta temporada es:</p>

<ul [ngSwitch]="color">
    <li *ngSwitchCase="'pink'">
        ...el <span [ngStyle]="{'color': color}">Rosa</span>
    </li>
    <li *ngSwitchCase="'blue'">
        ...el <span [ngStyle]="{'color': color}">Azul</span>
    </li>
    <li *ngSwitchCase="'brown'">
        ...el <span [ngStyle]="{'color': color}">Marrón</span>
    </li>
    <li *ngSwitchCase="'green'">
        ...el <span [ngStyle]="{'color': color}">verde</span>
    </li>
</ul>

