
<div [ngStyle]="{'background': config.fondo, 
'border': '8px solid',
'border-color': config.color,
'padding': '20px'}">
  <h1>
   {{ title }}
  </h1>

  <nav>
    <a [routerLink]="['/home']" [routerLinkActive]="['activated']">Home</a>
    &nbsp;
    <a [routerLink]="['/ropa']" [routerLinkActive]="['activated']">Ropa</a>
    &nbsp;
    <a [routerLink]="['/videojuego']" [routerLinkActive]="['activated']">Videojuegos</a>
    &nbsp;
    <a [routerLink]="['/externo']" [routerLinkActive]="['activated']">Externo</a>
  </nav>

<!--
  <button (click)="ocultarVideojuego(false)" *ngIf="mostrarVideojuego">Ocultar</button>
  <button (click)="ocultarVideojuego(true)" *ngIf="!mostrarVideojuego">Mostrar</button>
  <videojuego *ngIf="mostrarVideojuego"></videojuego>
  <ropa></ropa>
-->
<router-outlet></router-outlet>

 </div>

